#!name =  iRingo: 📰 News
#!desc = 1.自定义解锁News的地区\n2.Coming Soon…\n注：该模块不包含代理规则组，代理规则组需要匹配代理策略组为🇺🇸🇬🇧🇨🇦🇦🇺线路，使用过程中gateway.icloud.com应该走与News相同的代理线路。
#!openUrl = http://boxjs.com/#/app/iRingo.News
#!author = VirgilClyne[https://github.com/VirgilClyne]
#!homepage = https://NSRingo.github.io/guide/apple-news
#!icon = https://developer.apple.com/assets/elements/icons/news/news-128x128.png
#!category =  iRingo
#!date = 2024-12-10 04:32:39
#!version = 3.2.1

#[filter_local]
# > News
host, news-edge.apple.com, proxy
host, news-events.apple.com, proxy
host, apple.comscoreresearch.com, proxy
host, news-assets.apple.com, proxy